@charset "utf-8";

 * {
    box-sizing: border-box;
 }

 body {
    background: ##fcf8de;
 }

 #wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
 }

 h1 {
    margin: 50px 0;
    color: #53d4a7;
    font-size: 4em;
    font-weight: normal;
 }

 button {
    font-size: 1em;
    margin-right: 10px;
    display: block;
    color: #e9eceb;
    padding: 10px 25px;
    background: #9fafaa;
    border-radius: 20px;
    border: none;
    display: inline-block;
    cursor: pointer;
 }

button:last-child {
    margin-right: 0;
}
button:focus {
    outline: none;
}
button:hover, button.current {
    background: #53d4a7;
}

#list {
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}
#list li {
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}
#list li.cat {
    background: #b0e5fc;
}
#list li.frog {
  background: #c1fbb6;
}
#list li.ham {
  background: #fbceac;
}
#list li.bear {
  background: #fcb7b0;
}
